<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title>Test</title>
      <meta name="Enter the URL of an article to check its sentiment" content="Example" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <header>
            <div>
                <h1>Travel planner</h1>
                <p class="intro">Enter your destination and departure date</p>
            </div>
        </header>

        <main>
            <section>
                <form>
                    <input id="userCity" type="text" name="input" placeholder="Enter city">
                    <input id="date" type="date" name="input" placeholder="Enter departure date">
                    <button id="generate" type="submit" name="" value="submit">Let's go!</button>
                </form>
            </section>

            <section class="results">
              <p id="coming" class="hide">We're getting some info for you...</p>
              <img id="loading-gif" class="hide" src="35faa9d0a6ccee24e16611b00d472626.gif">

                <div id="results">

                  <div class="main-result-flex">

                    <div class="flex-box-left">
                      <h2>London, England</h2>
                      <p>Your trip is 15 days away</p>
                      <img src="https://www.weatherbit.io/static/img/icons/c01d.png">
                      <p class="temp-text">38.5°C</p>
                      <p>Mostly sunny</p>
                      <p class="small">(currently)</p>
                    </div>

                    <div class="flex-box-right">
                      <img id="destinationImage" src="https://pixabay.com/get/g1fc37f19ad5dc4fc97f3556d4b91045513d7b0a591dac0efdf1cf44bc60b685c6ad39dc7bcbd5da6c0b97ef73d02b5dc_640.jpg">
                    </div>
                  </div>


                  <div class="extra-results-flex">

                    <div class="flex-box-icons">
                      <img class="icon-medium" src="fab13f2ec6e368ca5122527f3862abad.png">
                      <h3>Language</h3>
                      <p>English</p>
                    </div>

                    <div class="flex-box-icons">
                      <img class="icon-medium" src="e23f4589e4925b2ad271820627c51173.png">
                      <h3>Currency</h3>
                      <p>British pound</p>
                    </div>

                    <div class="flex-box-icons">
                      <img class="icon-medium" src="b5891e799634a520ab45f991f18f8678.png">
                      <h3>Population</h3>
                      <p>65110000</p>
                    </div>

                  </div>

                  <div class="extra-results-flex">

                    <div class="flex-box-forecast">
                      <h3>Weather forecast &#8211; next 8 days</h3>
                    </div>

                  </div>

                  <div class="extra-results-flex">

                    <div class="flex-box-forecast">
                      <ul>
                      <li>
                        Date
                        <img src="https://www.weatherbit.io/static/img/icons/c01d.png">
                        Mostly sunny, 38.5°C
                      </li>
                      <li>
                        Date
                        <img src="https://www.weatherbit.io/static/img/icons/c01d.png">
                        Mostly sunny, 38.5°C
                      </li>
                      <li>
                        Date
                        <img src="https://www.weatherbit.io/static/img/icons/c01d.png">
                        Mostly sunny, 38.5°C
                      </li>
                      <li>
                        Date
                        <img src="https://www.weatherbit.io/static/img/icons/c01d.png">
                        Mostly sunny, 38.5°C
                      </li>
                    </ul>
                    </div>

                    <div class="flex-box-forecast">
                      <ul>
                        <li>
                          Date
                          <img src="https://www.weatherbit.io/static/img/icons/c01d.png">
                          Mostly sunny, 38.5°C
                        </li>
                        <li>
                          Date
                          <img src="https://www.weatherbit.io/static/img/icons/c01d.png">
                          Mostly sunny, 38.5°C
                        </li>
                        <li>
                          Date
                          <img src="https://www.weatherbit.io/static/img/icons/c01d.png">
                          Mostly sunny, 38.5°C
                        </li>
                        <li>
                          Date
                          <img src="https://www.weatherbit.io/static/img/icons/c01d.png">
                          Mostly sunny, 38.5°C
                        </li>
                    </ul>
                    </div>

                  </div>

                </div>
            </section>
        </main>

        <footer>
            <hr>
            <p class="footer-text">Made by <a href="https://www.linkedin.com/in/wendy-mackay-designer">Wendy Mackay</p>
        </footer>
        <!--
        <script>
          // Check that service workers are supported
          if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
            });
          }
        </script>-->
    </body>
</html>
