<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title>Test</title>
      <meta name="Enter the URL of an article to check its sentiment" content="Example" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <header>
            <div>
                <h1>Travel planner</h1>
                <p>Enter a city and date to check the weather</p>
            </div>
        </header>

        <main>
            <section>
                <form>
                    <input id="city" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter city">
                    <input id="date" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter date">
                    <button id="submit-form" type="submit" name="" value="submit">Check it out</button>
                </form>
            </section>

            <section class="results">
                <h2></h2>
                <div id="results">
                  <p id="coming" class="hide">We've finding that for you...</p>
                  <ul id="data-list" class="data-list">
                    <li id="city"></li>
                    <li id="date"></li>
                    <li id="weather"></li>
                  </ul>
                </div>
            </section>
        </main>

        <footer>
            <hr>
            <p class="footer-text">Made by Wendy Mackay</p>
        </footer>
        <!--
        <script>
          // Check that service workers are supported
          if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
            });
          }
        </script>-->
    </body>
</html>
