@import 'variables.scss';

html {
  background-color: $colour-bg;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 8vh;
    text-align: center;
}

main {
    flex: 2;
}

section {
    max-width: 950px;
    margin: 40px auto;
}

header {
    padding: 20px 30px 0;
}

footer {
  margin: 50px 0;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
  width: 950px;
}

.hide {
  display: none;
}
