@import 'variables.scss';

body {
  font: 25px/1.2 $font-main;
  color: $colour-body;
}

h1 {
  font: 55px/1 $font-head;
  color: $colour-primary;
  margin: 30px 0 15px;
}

h2 {
  font: 25px/1 $font-main;
  font-weight: bold;
  color: $colour-second;
  margin: 50px 0 15px;
}

.footer-text {
  font-size: 60%;
  margin-top: 20px;
  text-transform: uppercase;
  color: $colour-second;
}

section.results {
  ul {
    margin-top: 15px;
  }
  li {
    font-size: 20px;
    margin-top: 10px;
  }
}
