form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
}

input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px;
  font-size: 60%;
  line-height: 16px;
  margin: 10px 10px;
  width: 95%;
}

button {
    background: #7D407D;
    border-radius: 3px;
    color: #fff;
    font-size: 60%;
    text-transform: uppercase;
    border: none;
    margin: 10px 10px;
    padding: 20px;
}

button:hover {
    background: #ff665a;
}

@media(min-width:700px) {
  input {
    width: 33%;
  }
}
