@import 'variables.scss';

form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 30px 30px 30px 30px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 80%;
  width: 95%;
  min-height: 60px;
  margin: 10px 10px;
}

button {
    background: $colour-primary;
    border-radius: 3px;
    color: #fff;
    font-size: 90%;
    text-transform: uppercase;
    border: none;
    margin: 10px 10px;
    padding: 10px 20px;
    min-height: 40px;
}

button:hover {
    background: $colour-second;;
}

#loading-gif {
  max-width: 300px;
  margin: 15px 0;
}

@media(min-width:785px) {
  input {
    width: 35%;
  }
  button {
      min-height: 59px;
  }
}
