@import 'variables.scss';

form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 30px 30px 30px 30px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  font-size: 60%;
  line-height: 16px;
  margin: 10px 10px;
  width: 95%;
}

button {
    background: $colour-second;
    border-radius: 3px;
    color: #fff;
    font-size: 60%;
    text-transform: uppercase;
    border: none;
    margin: 10px 10px;
    padding: 20px;
}

button:hover {
    background: $colour-primary;;
}

@media(min-width:595px) {
  input {
    width: 45%;
  }
}

@media(min-width:795px) {
  input {
    width: 35%;
  }
}
