.main-result-flex {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.flex-box-left {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 10px 50px;
  margin-bottom: 40px;
}

.flex-box-right {
  width: 100%;
}

.extra-results-flex {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.flex-box-icons {
  img {
    max-width: 60px;
    margin-top: 40px;
  }
  p {
    font-size: 130%;
  }
}

.flex-box-forecast {
  margin: 0 auto 0;
  text-align: left;
  h3 {
    margin: 40px 0 10px;
  }
  img {
    max-width: 70px;
    position: relative;
    top: 20px;
  }
}

#destinationImage {
  width: 100%;
  border-radius: 6px;
}

@media(min-width:785px) {
  .main-result-flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .extra-results-flex {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .flex-box-left {
    width: 35%;
    padding: 10px 10px 30px;
    margin-bottom: 0;
  }
  .flex-box-right {
    width: 60%;
  }
  .flex-box-icons {
    min-width: 33%;
    padding: 0 80px;
  }
  .flex-box-forecast {
    padding: 0 0px;
  }
}
