@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=News+Cycle:wght@400;700&display=swap');

$font-main: 'News Cycle', sans-serif;
$font-head: 'Bungee Shade', cursive;
$colour-primary: #e54e45;
$colour-second: #13a3a5;
$colour-body: #333132;
$colour-bg: #F2F2ED;
